---
layout: default
---
<div class="container content margin-bottom-20">
</div>
<!--=== Breadcrumbs ===-->
<div class="breadcrumbs" class="background-color:">
    <div class="container">
        <ul class="pull-left breadcrumb">
            <li><a href="/">首頁</a></li>
            <li><a href="category.html">使用國家一覽</a></li>
            <li><a href="category.html">a</a></li>
            <li class="active"><a href="a">a</a></li>
        </ul>
    </div>
</div>
<!--=== End Breadcrumbs ===-->

<div class="container content">		
	<div class="row">
    	<div class="col-md-2">
	    	<ul class="list-group sidebar-nav-v1" id="sidebar-nav">
   				{% for category in site.categories %}
	                <li class="list-group-item list-toggle">                   
	                    <a data-toggle="collapse" data-parent="#sidebar-nav" href="#{{ category | first }}">{{ category | first }} ({{ category | last | size }})</a>
	                    <ul id="{{ category | first }}" class="collapse">
						    {% for posts in category %}
						      {% for post in posts %}
						      	{% if post.title=="" %}
						        	<li><a href="{{ post.url }}">{{ post.nickname }}</a></li>
					            {% endif %}
						      {% endfor %}
						    {% endfor %}
	                    </ul>
	                </li>
	            {% endfor %}
	    	</ul>
			{% for category in site.categories %}
			  <li>
			  <a name="{{ category | first }}" />{{ category | first }} ({{ category | last | size }})</a>
			    <ul>
			    {% for posts in category %}
			      {% for post in posts %}
			      	{% if post.title=="" %}
			        	<li><a href="{{ post.url }}">{{ post.nickname }}</a></li>
		            {% endif %}
			      {% endfor %}
			    {% endfor %}
			    </ul>
			  </li>
			{% endfor %}
    	</div>
    	<div class="col-md-10">
		      {% for post in site.posts %}
				  	{% if {post.layout} != 'category' %}
		            <div class="col-md-3 col-sm-6">
		                <div class="thumbnails thumbnail-style">
		                    <div class="thumbnail-img">
		                        <div class="overflow-hidden">
		                        	<a href="{{ post.url }}">
		                            	<img class="img-responsive" src="{{ post.image }}" alt="" />
		                        	</a>
		                        </div>
		                        <a class="btn-more hover-effect" href="{{ post.url }}">每日{{ post.price }}<font size="1"></font></a>                   
		                    </div>
		                    <div class="caption">
		                        <h3><a class="hover-effect" href="{{ post.url }}">{{ post.machinename }}</a></h3>
		                        <p>{{ post.say }}</p>
		                    </div>
		                </div>
		            </div>
		            {% endif %}
		      {% endfor %}
    	</div>
	</div>
</div>


