---
layout: default
---

    <div class="container content margin-bottom-20">
    </div>
    <!--=== Slider ===-->
    <div class="tp-banner-container">
        <div class="tp-banner">
            <ul>
                <!-- SLIDE -->
                <li class="revolution-mch-1" data-transition="fade" data-slotamount="5" data-masterspeed="1000" data-title="" delay="100" data-link="korea.php">
                    <!-- MAIN IMAGE -->
                    <img src="/images/v2/banner4.jpg"  alt="darkblurbg"  data-bgfit="cover" data-bgposition="center bottom" data-bgrepeat="no-repeat">
                </li>
                <!-- END SLIDE -->

                <!-- SLIDE -->
                <li class="revolution-mch-1" data-transition="fade" data-slotamount="5" data-masterspeed="1000" data-title="" data-link="korea.php">
                    <!-- MAIN IMAGE -->
                    <img src="/images/v2/banner1.jpg"  alt="darkblurbg"  data-bgfit="cover" data-bgposition="center bottom" data-bgrepeat="no-repeat">
                </li>
                <!-- END SLIDE -->

                <!-- SLIDE -->
                <li class="revolution-mch-1" data-transition="fade" data-slotamount="5" data-masterspeed="1000" data-title="" data-link="korea.php">
                    <!-- MAIN IMAGE -->
                    <img src="/images/v2/banner3.jpg"  alt="darkblurbg"  data-bgfit="cover" data-bgposition="center bottom" data-bgrepeat="no-repeat">
                </li>
                <!-- END SLIDE -->
                
                <!-- SLIDE -->
                <li class="revolution-mch-1" data-transition="fade" data-slotamount="5" data-masterspeed="1000" data-title="" data-link="korea.php">
                    <!-- MAIN IMAGE -->
                    <img src="/images/v2/banner2.jpg"  alt="darkblurbg"  data-bgfit="cover" data-bgposition="center bottom" data-bgrepeat="no-repeat">
                </li>
                <!-- END SLIDE -->
            </ul>
            <div class="tp-bannertimer tp-bottom"></div>            
        </div>
    </div>
    <!--=== End Slider ===-->


    <!--=== Content Part ===-->
    <div class="container content"> 
        <!-- Recent Works -->
        <div class="headline"><h2>Wi-Go 搭配國家</h2></div>
        <div class="row">
		      {% for post in site.posts %}
			     {% if forloop.index == 5 %}
				    </div>
			     	<div class="row">
			     {% endif %}
			     {% if forloop.index == 9 %}
				    </div>
			     	<div class="row">
			     {% endif %}
			     {% if forloop.index == 13 %}
				    </div>
			     	<div class="row">
			     {% endif %}
				  	{% if {post.layout} != 'category' %}
		            <div class="col-md-3 col-sm-6">
		                <div class="thumbnails thumbnail-style">
		                    <div class="thumbnail-img">
		                        <div class="overflow-hidden">
		                        	<a href="{{ post.url }}">
		                            	<img class="img-responsive" src="{{ post.image }}" alt="" />
		                        	</a>
		                        </div>
		                        <a class="btn-more hover-effect" href="{{ post.url }}">每日{{ post.price }}<font size="1"></font></a>                   
		                    </div>
		                    <div class="caption">
		                        <h3><a class="hover-effect" href="{{ post.url }}">{{ post.machinename }}</a></h3>
		                        <p>{{ post.say }}
			                        			  	{{forloop.index}}
		                        </p>
		                        
		                        <ul class="list-unstyled equal-height-list">
	                                <li><a href="shortcode_btn_general.html"><i style="display:inline-block; width:32px; height:20px; background-position:center center; background-image: url('{{post.countryFlag}}'); padding-top:5px;"></i><span style=" position:relative; top:-5px;">{{ post.machinename }}</span></a></li>
	                            </ul>
		                    </div>
		                </div>
		            </div>
		            {% endif %}
		      {% endfor %}
    </div><!--/container-->     
    <!-- End Content Part -->


