	<script type="text/javascript" src="//assets.zendesk.com/external/zenbox/v2.6/zenbox.js"></script>
	<style type="text/css" media="screen, projection">
	  @import url(//assets.zendesk.com/external/zenbox/v2.6/zenbox.css);
	</style>
	<script type="text/javascript">
	  if (typeof(Zenbox) !== "undefined") {
	    Zenbox.init({
	      dropboxID:   "20310298",
	      url:         "https://wigo.zendesk.com",
	      tabTooltip:  "線上諮詢",
	      tabImageURL: "https://wi-go.com.tw/images/v2/tab_zh-tw_ask_us_left.png",
	      tabColor:    "#008000",
	      tabPosition: "Left"
	    });
	  }
	</script>
    <div class="alert alert-info fade in">
        <a href="https://wi-go.com.tw/newplace.php"><strong>搬遷公告</strong> 為提供更好服務，本公司自5/4(一)起於「台北市大安區忠孝東路四段148號9樓之2」繼續為您提供服務(捷運忠孝敦化站5號出口正上方)，請點此查看最新資訊</a>
    </div>         
    <!--=== Header ===-->
    <div class="header">
        <!-- Topbar -->
        <div class="topbar">
            <div class="container">
                <a class="navbar-brand" href="/" style="padding-top:0px;">
                    <img id="logo-header" src="//cdn.wi-go.com.tw/images/logo.png" alt="Logo">
                </a>
                <ul class="loginbar pull-right hidden-sm hidden-xs hidden-mg">  
                    <li><a href="//s.wi-go.com.tw/"><img src="//cdn.wi-go.com.tw/images/btn22.png" height="50"/></a></li>  
                    <!--li class="hidden-mg hidden-lg"><a href="//s.wi-go.com.tw/">訂單流量查詢</a></li-->
                    <li class="topbar-devider"></li>   
                    <li><a href="/booking.php"><img src="//cdn.wi-go.com.tw/images/reserve.png" height="50"/></a></li> 
                    <!--li class="hidden-mg hidden-lg"><a href="booking.php">立即預約</a></li-->     
                </ul>
                <ul class="loginbar pull-right hidden-lg" style="padding-top:70px; height:70px; padding-bottom:30px;">  
                    <li><a href="//s.wi-go.com.tw/">訂單流量查詢</a></li>  
                    <li class="topbar-devider"></li>   
                    <li><a href="/booking.php">立即預約</a></li>   
                </ul>
            </div>
            <!--div class="container">
                    <a class="navbar-brand" href="index.php">
                        <img id="logo-header" src="//cdn.wi-go.com.tw/images/logo.png" alt="Logo">
                    </a>
                <ul class="loginbar pull-right visible-phone">  
                    <li>訂單流量查詢</li>  
                    <li class="topbar-devider"></li>   
                    <li>立即預約</a></li>   
                </ul>
            </div-->
        </div>
        <!-- End Topbar -->
    
        <!-- Navbar -->
        <div class="navbar navbar-default" role="navigation" style="background-color:#FFFFFF; border-color:#FFFFFF; margin-bottom:0px; min-height: 0px;">
            <div class="container">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
                        <span class="sr-only"></span>
                        <span class="fa fa-bars"></span>
                    </button>
                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse navbar-responsive-collapse">
                    <ul class="nav navbar-nav">
                        <li><a href="/index.php">首頁</a></li>
                        <li class="dropdown">
                            <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown">
                                搭配國家
                            </a>
                            <ul class="dropdown-menu">
                                <li><a href="/japan.php">日本上網分享器</a></li>
                                <li><a href="/korea.php">韓國上網分享器</a></li>
                                <li><a href="/europe.php">歐洲周遊分享器</a></li>
                                <li><a href="/us.php">美國上網分享器</a></li>
                                <li><a href="/italy.php">義大利上網分享器</a></li>
                                <li><a href="/german.php">德國上網分享器</a></li>
                                <li><a href="/swiss.php">瑞士上網分享器</a></li>
                                <li><a href="/france.php">法國上網分享器</a></li>
                                <li><a href="/china.php">中國上網分享器</a></li>
                                <!--li><a href="russia.php">俄羅斯上網分享器</a></li-->
                            </ul>
                        </li>

                        <li><a href="/price.php">租借費用</a></li>
                        <li><a href="/flow.php">租借流程</a></li>
                        <li><a href="/booking.php">線上預約</a></li>
                        <li><a href="/qa.php">Ｑ＆Ａ</a></li>
                        <!--li><a href="contact.php">聯絡我們</a></li-->
                        
                    </ul>
                </div><!--/navbar-collapse-->
            </div>    
        </div>            
        <!-- End Navbar -->
    </div>
    <!--=== End Header ===-->
