/* Add here all your css styles (customizations) */
.article-post h4 {
	border-left: 5px solid #555;
    background-color: #F1F1F1;
    padding-left: 10px;
    padding-top: 2px;
    padding-bottom: 2px;
    font-weight: 700;
    line-height: 1.7em;
}